{% extends "base.html" %}

{% block title %}About - NetStats{% endblock %}

{% block content %}
<div class="about-page">
  <div class="about-header">
    <img src="{{ url_for('static', filename='images/headshot.jpg') }}" alt="Spencer Dooley" class="headshot">
    <div class="about-text">
      <h1>Hi, I'm Spencer</h1>
      <p>
I am Spencer Dooley, a full-time data scientist and die hard Knicks (and basketball in general) fan. Much of my life I have lived and breathed all-things basketball, and while getting my degree in data science at the University of Vermont, developed several projects that intersect data science and basketball. 
</p>
      <p>
The Data Science and Complex Systems center at UVM didn’t place as much emphasis on inference as other data science programs may, but rather on building tools and uncovering patterns in large, messy, complex systems. That mindset is central to NetStats: this isn’t an inferential platform. Instead, it's an exploratory toolkit to visualize NBA teams and players as dynamic systems. There is more info on this sprinkled throughout the site, so I won’t rant about it all in this introduction. 
</p>
      <p>
Something important I want to highlight is that I am not a web developer and so the architecture underlying this web app probably is a little archaic to those more well versed in this field. However, I think this is a “good-enough-product” to showcase some of the data science visualizations and analysis I have been curating data for for some time. 
</p>
      <p>
If you have any tips, recommendations, or feedback about the site, please reach out to me as I am always open to collaboration. You also may notice the “Articles” section is rather sparse right now. I’d love to write articles about NBA analysis regularly, but alas I am also very busy. If you find an interesting thing while searching through your favorite NBA team’s passing network, or notice something peculiar when comparing their lineup shot charts, write up a short post about it and send it my way for me to upload to the “Articles” section.
</p>
      
    </div>
  </div>

  <div class="contact-cards">
    <a class="contact-card" href="mailto:spencer.dooley00@gmail.com" target="_blank">
      <i class="fas fa-envelope"></i>
      <span>Email</span>
    </a>
    <a class="contact-card" href="https://www.linkedin.com/in/spencer-dooley-989934198" target="_blank">
      <i class="fab fa-linkedin"></i>
      <span>LinkedIn</span>
    </a>
    <a class="contact-card" href="https://github.com/spencerdooley00?tab=repositories" target="_blank">
      <i class="fab fa-github"></i>
      <span>GitHub</span>
    </a>
  </div>
</div>
{% endblock %}
