<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>{% block title %}NetStats | NBA Analytics{% endblock %}</title>
<meta name="description" content="{% block meta_description %}Explore interactive NBA networks and shot charts by team, season, or player.{% endblock %}">  
<link rel="stylesheet" href="{{ url_for('static', filename='static.css') }}">
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://d3js.org/d3-hexbin.v0.2.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-XBBTV2TDQL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-XBBTV2TDQL');
  </script>

  {% block head_scripts %}{% endblock %}
</head>

<body>
<header id="main-header">
  <div class="header-inner">
    <!-- <a href="/" class="logo">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="NetStats Logo" height="85">
    </a> -->

    {% block nav_tabs %}
    <nav class="tab-bar center-tabs">
      <a href="/" class="tab-button {% if request.path == '/' %}active{% endif %}">Home</a>
      <a href="/team_explorer" class="tab-button {% if request.path == '/team_explorer' %}active{% endif %}">Team Explorer</a>
      <a href="/league" class="tab-button {% if request.path.startswith('/league') %}active{% endif %}">League Explorer</a>
    </nav>
    {% endblock %}
  </div>
</header>


<div class="page-layout {% block page_class %}{% endblock %}">
<main>
  {% block content %}{% endblock %}
</main></div>
</body>
</html>



