{% extends "base.html" %}
{% block title %}NetStats | League Explorer{% endblock %}
{% block meta_description %}Explore passing and assist networks for the {{ team }} in the {{ season }} NBA season, including top lineups and shot charts.{% endblock %}
{% block og_title %}NetStats | {{ team }} - {{ season }} Passing Network{% endblock %}
{% block og_description %}Explore passing and assist networks for the {{ team }} in the {{ season }} NBA season, including top lineups and shot charts.{% endblock %}
{% block og_image %}https://netstats.dev/static/previews/netstats-preview-final.jpg{% endblock %}

{% block twitter_title %}NetStats | {{ team }} - {{ season }} Passing Network{% endblock %}
{% block twitter_description %}Explore {{ team }}’s top players, passing connections, assists, and shot chart data from the {{ season }} NBA season.{% endblock %}
{% block twitter_image %}https://netstats.dev/static/previews/netstats-preview-final.jpg{% endblock %}


{% block page_class %}league-explorer{% endblock %}

{% block content %}
<div class="league-controls">
  <div class="filter-row">
    <div class="filter-group">
      <label for="season">Season:</label>
      <select id="season">
        {% for season in available_seasons %}
          <option value="{{ season }}" {% if season == selected_season %}selected{% endif %}>
            {{ season }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="filter-group">
      <label for="team-filter">Teams:</label>
      <select id="team-filter" multiple></select>
    </div>

    <div class="filter-group wide-player-select">
      <label for="player-search">Players:</label>
      <select id="player-search" multiple></select>
    </div>

    <div class="filter-group reset-wrapper">
      <label style="visibility: hidden;">Reset</label>
      <button id="reset-filters" class="reset-filter-button">Reset Filters</button>
    </div>
  </div>
</div>


<div id="league-role-tables"></div>
{% endblock %}

{% block head_scripts %}
<script>
  const selectedSeason = "{{ selected_season }}";
</script>
<script src="{{ url_for('static', filename='league.js') }}"></script>
{% endblock %}
